.bigSectionButton {
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  transition: all 0.2s ease-in-out;
}

.bigSectionButton:hover {
  transform: scale(1.08);
}