.box1 {
  width: 25px;
  height: 25px;
}

.box2 {
  width: 25px;
  height: 25px;
}

.stripe {
  color: white;
  background: repeating-linear-gradient(
    -55deg,
    #007a7a1e,
    #007a7a1e 10px,
    #0029291e 10px,
    #0029291e 20px
  );
}